[Unit]
Description=log
After=tlp-init.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/rtkbase/run_cast.sh in_serial out_file

[Install]
WantedBy=multi-user.target

